{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container_acerca_de">
    <h2 class="h2_acerca_de">Nuestro Equipo de Administradores</h2>
    <div class="profile-grid">
        {% for admin in administradores %}
        <div class="profile-card">
            {% if admin.profile.photo %}
                <img src="{{ admin.profile.photo.url }}" alt="Foto de perfil">
            {% endif %}
            <h3><a href="{% url 'perfil_usuario' admin.id %}">{{ admin.username }}</a></h3>
            <p>Correo: {{ admin.email }}</p>
            <p>Nombre: {{ admin.first_name }}</p>  <!-- Si tienes un modelo de perfil relacionado -->
            <p>Apellido: {{ admin.last_name }}</p> 
        </div>
        {% empty %}
        <p>No hay administradores registrados.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
