<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <title>Inicio - Mi Blog</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<header>
    {% if user.is_authenticated %}
        <h1>Se7enIntelligence</h1>
        <p>Bienvenido {{ user.username }}, encuentra toda la información sobre inteligencia artificial.</p>
    {% else %}
        <h1>Se7enIntelligence</h1>
        <p>Bienvenido a Se7enIntelligence, encuentra toda la información sobre inteligencia artificial.</p>
    {% endif %}
</header>

<nav>
    <a href="{% url 'inicio' %}">Inicio</a>
    <a href="{% url 'acerca_de' %}">Sobre mí</a>
    <a href="{% url 'contacto' %}">Contacto</a>
    

    <!-- Verifica si el usuario está autenticado -->
    <span style="float: right;">
        {% if user.is_authenticated %}
            <!-- Enlace para cerrar sesión -->
            <form action="{% url 'cerrar_sesion' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
            </form> 
            | 
            <!-- Enlace para ir al perfil -->
            <a href="{% url 'perfil_usuario' request.user.id %}">Ir a mi perfil</a>
                    {% else %}
        <a href="{% url 'login' %}">Iniciar sesión</a> | <a href="{% url 'signup' %}">Registrarse</a>
    {% endif %}
    </span>
</nav>


<main>
    <section class = "container">

        {% block content %}

        {% endblock %}


    </section>    

    <aside class="sidebar">
        <h2>Sobre el blog</h2>
        <p>La inteligencia artificial (IA) se refiere a la simulación de procesos de inteligencia humana por parte de sistemas informáticos. Estos procesos incluyen el aprendizaje, el razonamiento y la autocorrección. Desde chatbots que ofrecen atención al cliente hasta algoritmos que mejoran la eficiencia en industrias, la IA está transformando la forma en que vivimos y trabajamos.

            En este blog, exploraremos las aplicaciones, los desafíos y las oportunidades que presenta la inteligencia artificial en diferentes sectores, así como su impacto en la sociedad. ¡Acompáñanos en este fascinante viaje al futuro de la tecnología!</p>
        
        {% if mostrar_categorias %}
        <hr>
            <h3>Categorías:</h3>
            <ul>
            {% for categoria in categorias %}
                <li>
                    <a href="{% url 'listar_posts_por_categoria' categoria.id %}">
                        {{ categoria.nombre }}
                    </a>
                </li>
            {% endfor %}
            </ul>

        {% endif %}

        {% if mostrar_fechas %}
        <div>
            <h3>Ordenar por:</h3>
            <ul>
                <li>
                    <a href="{% url 'listar_posts_alfabeticamente' %}?orden=asc">ascendete</a>
                </li>
                <li>
                    <a href="{% url 'listar_posts_alfabeticamente' %}?orden=desc">descendente</a>
                </li>
                <li>
                    <a href="{% url 'listar_posts_fechas' 'recientes' %}">Más recientes</a>
                </li>
                <li>
                    <a href="{% url 'listar_posts_fechas' 'antiguos' %}">Más antiguos</a>
                </li>
            </ul>
            {% if messages %}
                <h3>Informacion sobre contacto:</h3>
                {% for message in messages %}
                    <div class="alert alert-success" style="color: rgb(255, 255, 255);">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}
        
        <!-- Esta parte es para administradores -->
        {% if user.is_authenticated %}

            {% if user.is_staff %}
            <hr>
                <h3>Panel de Administrador:</h3>
                <a class="btn_edit" href="{% url 'admin:index' %}">Administrar</a>
                <a class="btn_edit" href="{% url 'cargar_publicacion' %}">Crear nuevo post</a>
                {% if ultimos_mensajes %}
                <hr>
                <h3>Últimos Mensajes de Contacto</h3>
                <ul>
                    {% for mensaje in ultimos_mensajes %}
                        <li>
                            <strong>Tema:</strong> {{ mensaje.tema }}<br>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class = "li_mensaje" style="color: rgb(255, 255, 255);">No hay mensajes disponibles.</li>
                {% endif %}
                </ul>
            {% endif %}
        {% endif %}

    </aside>
</main>

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <p>&copy; 2024 Blog de Inteligencia Artificial. Todos los derechos reservados.</p>
            <p>Creado por <strong>Guillermo Petcho</strong> en conjunto <strong>Grupo 7</strong>.</p>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/guillermonicolaspetcho32211/" target="_blank" class="social-icon">LinkedIn</a>
                <a href="https://github.com/guillermopetcho" target="_blank" class="social-icon">GitHub</a>
                <a href="https://www.youtube.com/@GuillermoNicolasPetcho" target="_blank" class="social-icon">YouTube</a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
