{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container_contacto">
    <h2 class="h2_contact">Contactar al Administrador</h2>
    
    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    
    <form class="contact_form" action="{% url 'enviar_mensaje' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label class="contact_label" for="nombre">Nombre:</label>
        <input class="contact_input" type="text" id="nombre" name="nombre" required>

        <label class="contact_label" for="email">Correo Electrónico:</label>
        <input class="contact_input" type="email" id="email" name="email" required>

        <label class="contact_label" for="tema">Tema:</label>
        <select class="select_contact" id="tema" name="tema" required>
            <option value="">Selecciona un tema</option>
            <option value="Soporte Técnico">Soporte Técnico</option>
            <option value="Sugerencias">Sugerencias</option>
            <option value="Otros">Otros</option>
        </select>

        <label class="contact_label" for="mensaje">Mensaje:</label>
        <textarea class="textarea_contact" id="mensaje" name="mensaje" rows="6" required></textarea>

        <label class="contact_label" for="archivo">Cargar Archivo (opcional):</label>
        <input class="contact_input" type="file" id="archivo" name="archivo">

        <input class="contact_input" type="submit" value="Enviar">
    </form>
</div>

{% endblock %}
