{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section>
        <div class="post">
            {% for post in posts %}
            <article>
                <h3><a>{{ post.titulo }}</a></h3>
                <p>Contenido: {{ post.resumen }}</p>
                <p>Fecha publicación: {{ post.fecha_publicacion }}</p>
                <p>Autor: {{ post.autor }}</p>
                <a href="{% url 'postdetalle' id=post.id %}">leer más</a>
            </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}
