{% extends 'base.html' %}

{% load static %}

{% block content %}
<section>

    <div class="profile-card">
        <h3>{{ usuario.username }}</h3>
        {% if profile.photo %}
            <img src="{{ profile.photo.url }}" alt="Foto de perfil">
        {% else %}
            <p>No se ha cargado una foto de perfil.</p>
        {% endif %}
    

        <p>Correo: {{ usuario.email }}</p>
        <p>Nombre: {{ usuario.first_name }}</p>
        <p>Apellidos: {{ usuario.last_name }}</p>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

    </div>
    <div >

    </div>
</section>
{% endblock %}