{% extends "base.html" %}

{% load static %}

{% block content %}
{% if colaborador or administrador %}
    <a href="{% url 'editar_post' post.id %}" class="btn btn-primary">Editar Post</a>
{% endif %}
  <h2>{{ post.titulo }}</h2>
  <p>{{ post.contenido }}</p>

  <img class="imagen" src="{{ post.imagen.url }}" alt="Imagen de {{ post.titulo }}" />

  <p>Fecha publicación: {{ post.fecha_publicacion }}</p>
  <p>Autor: {{ post.autor }}</p>

  <h3>Comentarios</h3>
  <ul>
    {% for comentario in comentarios %}
      <li>
        <p>{{ comentario.cuerpo_comentario }}</p>
        <a href="{% url 'perfil_usuario' comentario.autor_comentario.id %}">{{ comentario.autor_comentario }}</a>        {% if usuario_logeado and comentario.autor_comentario == request.user or request.user.is_staff %}
          <!-- Botón de editar -->
          <a href="?edit_comentario={{ comentario.id }}">Editar</a>
          
          <!-- Botón de eliminar -->
          <form action="{% url 'eliminar_comentario' comentario.id %}" method="post">
              {% csrf_token %}
              <button type="submit">Eliminar</button>
          </form>
        {% endif %}

        <!-- Formulario para editar el comentario si es el comentario seleccionado -->
        {% if comentario_a_editar and comentario_a_editar.id == comentario.id %}
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar cambios</button>
          </form>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <!-- Formulario para nuevo comentario -->
  <h4>Agregar un comentario</h4>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Comentar</button>
  </form>

{% endblock %}
