{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>{{ post.titulo }}</h1>
<p><strong>Autor:</strong> {{ post.autor.username }}</p>
<p>{{ post.contenido }}</p>
<p><em>Publicado el {{ post.fecha_publicacion }}</em></p>

<h2>Comentarios:</h2>
<ul>
    {% for comentario in comentarios %}
        <li>
            <strong>{{ comentario.autor_comentario.username }}</strong> dice:
            <p>{{ comentario.cuerpo_comentario }}</p>
            <em>Publicado el {{ comentario.fecha_creacion }}</em>
        </li>
    {% empty %}
        <li>No hay comentarios aún.</li>
    {% endfor %}
</ul>

<h3>Agregar un comentario:</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
</form>
{% endblock %}