<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

    </header>

    <main>
        <section>
            {% for post in posts %}
            <article>
                <h3><a>{{ post.titulo }}</a></h3>
                <p>Contenido:{{ post.resumen }}</p>
                <p>Fecha publicación: {{ post.fecha_publicacion }}</p>
                <p>Autor:{{ post.contenido }}</p>
            </article>
            {% endfor %}
        </section>
    </main>
</body>
</html>