asgiref==3.8.1
distlib==0.3.8
Django==5.1.1
filelock==3.16.0
mysql-connector-python==9.0.0
pillow==10.4.0
platformdirs==4.3.2
psycopg2==2.9.9
sqlparse==0.5.1
tzdata==2024.1
virtualenv==20.26.4
